/* Basic Reset */
* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Container Fluid - Full Width */
.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Grid System */
.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1rem;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Responsive Grid */
@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

div .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

hr {
  margin: 1rem auto;
  border: 0;
  width: 98%;
  border-top: 1px solid #ccc;
}

.text-center {
  text-align: center !important;
  font-weight: bold;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: #333;
  font-size: 16px;
}

.table th,
.table td {
  /* padding: 12px; */
  text-align: left;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

/* Odd row striping */
.table tbody tr:nth-child(odd) {
  background-color: #ececec;
}

/* Table Responsive Wrapper */
.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* For smooth scrolling on touch devices */
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Responsive Table Styles for Small Screens */
@media (max-width: 768px) {
  .table thead {
    display: none;
    /* Hide table headers */
  }

  .table,
  .table tr,
  .table td {
    display: grid;
    width: 100%;
  }

  .table td {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    word-wrap: break-word;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    flex-basis: 50%;
    padding-right: 15px;
    text-align: left;
  }

  .table tr {
    border-bottom: 2px solid #ddd;
  }

  .table tbody tr:last-child {
    margin-bottom: 0;
  }
}

.btn {
  width: auto;
  padding: 0.5vw 2.5vw;
  margin-inline-end: 0.3vw;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}

.btn-lightblue {
  background-color: #0dcaf0;
  color: black;
}

.btn-lightblue:hover {
  background-color: #00b4d8;
}

.btn-blue {
  background-color: #0070fb;
  color: white;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-green {
  background-color: #198754;
  color: white;
}

.btn-green:hover {
  background-color: #155734;
}

.btn-red {
  background-color: #dc3545;
  color: white;
}

.btn-red:hover {
  background-color: #c82333;
}

.btn-yellow {
  background-color: #f1c40f;
  color: black;
}

.btn-yellow:hover {
  background-color: #f39c12;
}

.btn-grey {
  background-color: #7f8c8d;
  color: white;
}

.btn-grey:hover {
  background-color: #95a5a6;
}

.card {
  margin: 1vw 0;
  padding: 0%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: rgb(236, 236, 236);
  padding: 1%;
}

.card-header h2 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

.card-body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 1%;
  border-radius: 0 0 5px 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header h1 {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

/* Modal Body */
.modal-body {
  padding: 1vw;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.modal-body p {
  margin: 0 auto 1vw;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(1rem - 0.5rem * 0.5);
}

.modal-footer form {
  display: inline-flex;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 2vw auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

Base form styling form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

label span {
  margin: 0 1.5rem 0 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

button {
  padding: 0.5rem 1rem;
  width: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  /* margin-left: 1rem; */
  margin-right: auto;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border 0.3s ease;
  margin-right: 10px;
}

/* Inner circle for the selected state */
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease;
}

/* Hover effect */
input[type="radio"]:hover {
  border-color: #007bff;
}

/* Disabled radio button */
input[type="radio"]:disabled {
  border-color: #ccc;
  background-color: #f9f9f9;
  cursor: not-allowed;
}

input[type="radio"]:disabled::before {
  background-color: #bbb;
}

.pagination {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.pagination a {
  color: #007bff;
  float: left;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination a.disabled {
  color: #777;
  pointer-events: none;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border: 1px solid #007bff;
}

.pagination a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pagination a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

